<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaf Prediction</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body class="body1">
    <form action="{{url_for('predict')}}" method="post" class="form">
        <h2 style="text-align: center; margin-bottom: 200px; color: yellow; text-decoration: underline; ">Medical Leaf Prediction</h2>
        <input type="file" name="file" id="choosefile"><br><br>
    
    </form>
    <div class="Submit2">
        <input align="left" type="Submit" value="Submit" id="submit">
    </div>
</body>
</html>