<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaf Prediction</title>
    <link rel="stylesheet" href="../static/css/index5.html">
</head>
<body class="body1">
    <form action="{{url_for('predict')}}" method="post" class="form">
    <h2 style="margin-left: -15%;">Leaf Predictor</h2>
    <input type="file" name="file"><br><br>
    <input align="left" type="Submit" value="Submit" id="submit">

    </form>
    <h2>hejkiioijk{{preediction_text}}</h2>
</body>
</html>